* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
}

.app-title {
  font-size: 48px;
  font-weight: 500;
  color: var(--accent);
  margin-bottom: 32px;
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.tool {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid var(--border);
  width: 100%;
  max-width: 512px;
  padding: 16px;
}

.string-input {
  padding: 8px 12px;
  border: 2px solid var(--border);
}

.string-input:focus {
  border-color: var(--accent);
  outline: none;
  box-shadow: 0 0 4px var(--accent);
}

.button-accent {
  padding: 8px 16px;
  border: 2px solid var(--accent);
  background: transparent;
  color: var(--accent);
}
.button-accent:hover {
  background: var(--accent);
  color: white;
  cursor: pointer;
}

.button-accent:disabled {
  opacity: 0.5;
  background: transparent;
  color: var(--accent);
  cursor: default;
}

.file-input:hover {
  cursor: pointer;
}

.file-input::file-selector-button {
  padding: 4px 8px;
  border: 2px solid var(--accent);
  background: transparent;
  color: var(--accent);
}

.file-input:hover::file-selector-button {
  background: var(--accent);
  color: white;
  cursor: pointer;
}

.file-input:disabled::file-selector-button {
  opacity: 0.5;
  background: transparent;
  color: var(--accent);
  cursor: default;
}

.error {
  color: var(--danger);
}

.warning {
  color: var(--warning);
}

.button-danger {
  padding: 8px 16px;
  border: 2px solid var(--danger);
  background: transparent;
  color: var(--danger);
}

.button-danger:hover {
  background: var(--danger);
  color: white;
  cursor: pointer;
}

.button-danger:disabled {
  opacity: 0.5;
  background: transparent;
  color: var(--danger);
  cursor: default;
}

.file-table {
  width: 100%;
  border-collapse: collapse;
}

.file-table th,
.file-table td {
  padding: 8px;
  border-bottom: 1px solid var(--border);
  text-align: left;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
}

.welcome-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}